# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env

# Migrations
migrations/

# Certificates
certs/

# VS Code settings
.vscode/

# Logs
*.log

# Database
*.db

# IDE-specific files
.idea/